<div class="card-item col">
    <div class="card hoverable mb-3">
      <div class="row g-0">
        {%- if member.img -%}
	<div class="col-md-12">
	<div class="title m-2 border-bottom text-center text-dark">{{ member.name }}
            {%- if member.twitter -%}
              <span class="github-icon">
                <span class="icon" data-toggle="tooltip" title="Code Repository">
                  <a href="{{ member.twitter }}">
                    <i class="fab fa-twitter gh-icon"></i>
                  </a>
                </span>
              </span>
            {%- endif %}
	</div>
	</div>

        <div class="card-img col-md-5 align-center">
          {% include figure.html path=member.img class="rounded-circle" alt="member thumbnail" %}
        </div>
        <div class="col-md-7">
        {%- else -%}
        <div class="col-md-12">
		<div class="title m-2 border-bottom text-center text-dark">{{ member.name }} &nbsp; &nbsp; {{ member.level }}</div>
        {%- endif -%}

          <div class="card-body p-1 m-1">

            {% if member.category == "current Ph.D" or member.category == "current BS-MS" %}
               <div class="card-text">Exams: {{ member.exams}} </div>
            {% endif %}

            {% if member.category == "alumni Ph.D" or member.category == "alumni BS-MS" %}
            <p class="card-text fst-italic">Project/Thesis: {{ member.workdescription}} </p>
            
            {% else %}
            <p class="card-text fst-normal"> "{{ member.workdescription }}"</p>
            {% endif %}
            
          </div>
        </div>
      </div>
    </div>
</div>
