<!-- _includes/members.html -->

<style>
  div.config {
  margin: -10px 10px 10px 25px;
  padding: -10px 10px 10px 25px;
  
  /* top right bottom left */
  line-height: 0.5
}

</style>
<div class="grid-sizer"></div>
<div class="grid-item">
  <a href="">
      <div class="card hoverable">
        {%- if member.img %}
        {%- include figure.html
          path=member.img
          alt="member thumbnail" -%}
        {%- endif %}
        <div >
           <div class="config">
            <h4> 
              <span style="padding-right: 5px"> {{ member.name }}</span>
              {%- if member.twitter -%}
              <span class="github-icon">
                <span class="icon" data-toggle="tooltip" title="Code Repository">
                  <a href="{{ member.twitter }}">
                    <i class="fab fa-twitter gh-icon"></i>
                  </a>
                </span>
              </span>
            {%- endif %}
            </h4>
           <p>{{ member.level }}</p>
          </div>
           <p style="font-size: 14px">{{ member.workdescription }}</p>
      </div>
    </div>
  </a>
</div>


