---
layout: default
---

<!-- about.html
    whenever site is mentioned its from config yml file -->
      <div class="post">
        
        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.address %}
            <div class="address">
              {{ page.profile.address }}
            </div>
            {%- endif %}
          </div>
          {%- endif %}



          <span class="clearfix">
            <!-- <p style="text-align: justify; padding-right: 100px;"> -->
            <span>
            <span><h2><u>Hello!!</u></h2></span>
            <span>{{ content }}</span>
          </span>
        </span>

          <div>
          <h3><u>Join Us</u></h3>
          <p style="text-align: justify;">{{ page.purpose }}</p>
          </div>

          <div>
            <h3><u>Lab</u></h3>
            <p style="text-align: justify;">{{ page.lab }}</p>
          </div>

          <div class="row">
            <div class="col-sm mt-3 mt-md-0">
                {% include figure.html path="assets/about/labB.jpg" title="Google Map" class="img-fluid rounded z-depth-1" %}
            </div>
          </div>

          <!-- <h3><u>Journal club and seminars</u></h3> -->
          <div class="row">
            <div class="col-sm mt-5 mt-md-0">
                {% include figure.html path="assets/about/jc1.jpg" title="example image" class="img-fluid rounded z-depth-1" %}
            </div>
            <div class="col-sm mt-5 mt-md-0">
                {% include figure.html path="assets/about/jc2.jpg" title="example image" class="img-fluid rounded z-depth-1" %}
            </div>
          </div>

          <!-- <div>
          <br><br>
          <h3><u>Eligibility</u></h3>
          <p style="text-align: justify;">{{ page.eligibility }}</p>
          </div> -->


          <br><br>
          <div>
          <h3><u>Campus</u></h3>
          <p style="text-align: justify;">{{ page.location }}</p>
          </div>
          <br>
          <div class="row">
            <div class="col-sm mt-3 mt-md-0">
                {% include figure.html path="assets/about/map.png" title="Google Map" class="img-fluid rounded z-depth-1" %}
            </div>
          </div>
          

          <br><br>
          <h3><u>The Festive campus</u></h3>
          <div class="row">
            <div class="col-sm mt-3 mt-md-0">
                {% include figure.html path="assets/about/s1.jpg" title="example image" class="img-fluid rounded z-depth-1" %}
            </div>
            <div class="col-sm mt-3 mt-md-0">
                {% include figure.html path="assets/about/s2.gif" title="example image" class="img-fluid rounded z-depth-1" %}
            </div>
            <div class="col-sm mt-3 mt-md-0">
                {% include figure.html path="assets/about/s3.jpg" title="example image" class="img-fluid rounded z-depth-1" %}
            </div>
          </div>
          <div class="caption">
            Image courtesy: Deeksha Thakur.
        </div>

          <br><br>
          <h3><u>The beautiful campus</u></h3>
          <div class="row">
            <div class="col-sm mt-5 mt-md-0">
                {% include figure.html path="assets/about/gr1.jpg" title="example image" class="img-fluid rounded z-depth-1" %}
            </div>
            <div class="col-sm mt-5 mt-md-0">
                {% include figure.html path="assets/about/gr4.jpg" title="example image" class="img-fluid rounded z-depth-1" %}
            </div>
          </div>
          <div class="row">
            <div class="col-sm mt-5 mt-md-0">
                {% include figure.html path="assets/about/gr2.jpg" title="example image" class="img-fluid rounded z-depth-1" %}
            </div>
            <div class="col-sm mt-5 mt-md-0">
                {% include figure.html path="assets/about/gr3.jpg" title="example image" class="img-fluid rounded z-depth-1" %}
            </div>
          </div>


          <br><br>
          <h3><u>The Group </u></h3>
          <div class="row">
            <div class="col-sm mt-5 mt-md-0">
                {% include figure.html path="assets/about/G2.jpg" title="example image" class="img-fluid rounded z-depth-1" %}
            </div>
            <div class="col-sm mt-5 mt-md-0">
                {% include figure.html path="assets/about/G1.jpg" title="example image" class="img-fluid rounded z-depth-1" %}
            </div>
          </div>


          {%- if page.social %}
          <!-- Social -->
          <div class="social">
            <div class="contact-icons">
            {% include social.html %}
            </div>

            <div class="contact-note">
              {{ site.contact_note }}
            </div>
            
          </div>
          {%- endif %}
        </article>

</div>
